#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* TEXT STYLES */
.red-text {
  color: var(--red);
}

.title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--red);
}

.subtitle {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
}

/* LAYOUT ELEMENTS*/
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-between;
  justify-content: stretch;
  max-width: 640px;
}

.card {
  border: 1px solid var(--black);
  background-color: var(--white);
  color: var(--red);
  border-radius: 24px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  height: 280px;
  text-transform: uppercase;
  justify-content: space-between;
  gap: 1rem;
}

.card-red {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
}

.card-red:hover {
  cursor: pointer;
}

.card-question {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  height: fill;
  margin: 0;
  flex: 1;
  align-content: center;
}

.card-footer {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}

.button-section {
  display: flex;
  padding: 2rem 0;
  gap: 0.4rem;
}
